
body { background-color: turquoise; }


h1 { background-color: plum; color: black; }
h2 { background-color: yellowgreen; color: black; }
h3 { background-color: yellowgreen; color: black; }
p { background-color: black; color: goldenrod; font-style: italic; }

h1 { text-align: center }
h2 { text-align: center }
h3 { text-align: center }



img { order: 5px solid #555;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

li { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }